@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce-slow {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}
/* src/index.css or src/main.css */
html {
  -webkit-text-size-adjust: 73%;
}
